/* layout */
    body{background:url(../img/bg_bd_14x14.png) repeat 0 0;}
    .cjd_hd{background:url(../img/bg_hd_1886x263.jpg) no-repeat center 38px;height:263px;padding-top:38px;}
    .cjd_bd{background:url(../img/bg_hd_1886x651.jpg) no-repeat center 0;}

/**/
    .cjd_bd em{font-style:normal;}
/* mod */
    .cjd_mod,.cjd_mod_tit s{
        background-color:#f9f4e5;
    }
    .cjd_mod{width:1002px;margin:0 auto;border-top:8px solid #f0e3c2;color:#535353;font-family:"Microsoft YaHei"}
    .cjd_mod_tit{margin:30px 0 0 25px;width:242px;height:31px;overflow:hidden;/*position:relative;*/font:bold 18px/31px "Microsoft YaHei",'黑体';background-image:url(../img/tits_242x.png);background-repeat:no-repeat;text-indent:-20em}
    /*.cjd_mod_tit s{display:block;width:100%;height:100%;background-image:url(../img/tits_242x.png);background-repeat:no-repeat;position:absolute;top:0;left:0;overflow: hidden;}
    .cjd_dq .cjd_mod_tit s{background-position:0 -35px}
    .cjd_xz .cjd_mod_tit s{background-position:0 -70px}
    .cjd_hlw .cjd_mod_tit s{background-position:0 -105px}*/
    .cjd_dq .cjd_mod_tit {background-position:0 -35px}
    .cjd_xz .cjd_mod_tit {background-position:0 -70px}
    .cjd_hlw .cjd_mod_tit {background-position:0 -105px}
/* 听写峰值 */
    .cjd_fz_m1bg,
    .cjd_fz_m1tip{
        margin-left:auto;
        margin-right:auto;
    }
    .cjd_fz_m2,
    .cjd_fz_m3{
        border-top:1px solid #e5dcc3;
        float:left;
        padding-left:25px;
        height:307px;
    }
    .cjd_fz_mtit{height:22px;line-height:22px;padding-top:24px;font-size:16px;}
    .cjd_fz_m1{float:left;width:100%}
    .cjd_fz_m1bg{
        display:block;width:668px;margin-top:37px;overflow:hidden;height:0;
        border-width:24px 38px;border-style:solid;border-color:#f9f4e5 #f9f4e5 #f4ebd3;
    }
    .cjd_fz_m1tip{font-size:16px;text-align:center;margin-top:-55px;margin-bottom:28px;width:744px;height:55px;border-bottom:6px solid #e5dcc3;}
    .cjd_fz_m1tip em{color:#dd4a4a;font:normal normal bold 24px/55px "Microsoft YaHei",'黑体';}
    
  
    .cjd_fz_m2{width:488px;position:relative;}
    .cjd_fz_m2bg,
    .cjd_fz_m2tb{
        position:absolute;left:50%;margin-left:-227px;
    }
    .cjd_fz_m2bg{
        bottom:24px;height:0;width:378px;overflow:hidden;display:block;
        border-width:18px 38px;border-style:solid;border-color:#f9f4e5 #f9f4e5 #f0e3c2;
    }
    .cjd_fz_m2tb{border-bottom:5px solid #dbceac;width:454px;bottom:19px;height:220px}
    .cjd_fz_m2tb li{font-size:0;float:left;width:7px;background-color:#dbceac;_overflow:hidden;_display:inline}
    .cjd_fz_m2tb img{width:50px;height:50px;border-radius:25px;position:relative;left:-22px;top:0;}
    
    .cjd_fz_m3{width:463px;border-left:1px solid #e5dcc3;background:url(../img/bg_fzm3.png) no-repeat center 230px;}
    .cjd_fz_m3list li{
        width:55px;height:175px;float:left;background-repeat:no-repeat;background-position:center 65px;_display:inline;
        -moz-transform-origin:50% 100%;
        -webkit-transform-origin:50% 100%;
        -o-transform-origin:50% 100%;
        transform-origin:50% 100%;
        /* http://www.useragentman.com/IETransformsTranslator/ */
    }
    .cjd_fz_m3list .item0{
        -moz-transform:rotate(-18deg);
        -webkit-transform:rotate(-18deg);
        -o-transform:rotate(-18deg);
        transform:rotate(-18deg);
        margin:32px 0 0 72px;
    }
    .cjd_fz_m3list .item1{
        margin:10px 0 0 72px;
    }
    .cjd_fz_m3list .item2{
        -moz-transform:rotate(18deg);
        -webkit-transform:rotate(18deg);
        -o-transform:rotate(18deg);
        transform:rotate(18deg);
        margin:30px 0 0 72px;
    }

    .cjd_fz_m3list em{
        display:block;height:55px;width: 55px;border-radius:27px;
        text-align: center;font: normal normal normal 16px/55px "Microsoft YaHei";color:white;
    }

/* 地区面面观 */
    .cjd_dq_m1 dt,
    .cjd_dq_m3 li,
    .cjd_maptip dd{
        background-image:url(../img/ico_y.png);background-repeat:no-repeat;
    }
    .cjd_dq_m1 dt,
    .cjd_dq_m3 li em{
        color:#dd4a4a;
    }
    .cjd_dq_m1,.cjd_dq_m3,.cjd_dq_m2{float:left;}
    .cjd_dq_m1{width:205px;padding:80px 0 0 45px;}
    .cjd_dq_m1 dt{font-size:20px;line-height:20px;padding-left:22px;background-position:0 3px;margin-bottom:10px}
    .cjd_dq_m1 dd{font-size:18px;padding-bottom:25px}
    .cjd_dq_m2{width: 452px;overflow:hidden;}
    .cjd_dq_m3{width:300px;padding-top: 25px}
    .cjd_dq_m3 li span{font-size:18px;line-height:30px;}
    .cjd_dq_m3 li{
        padding-left:27px;background-position:2px -44px;font-size: 14px;margin-top:50px;
        border-bottom:1px solid #f9f4e5;float: left;clear:both;white-space:nowrap;
    }
    .cjd_dq_m3 li:hover,.cjd_dq_m3 .hover{border-bottom-color:#e47773;cursor:pointer;}

    #map{margin:0 auto}
    .cjd_maptip{padding:0 0 30px 40px;}
    .cjd_maptip dd,
    .cjd_maptip dt{float:left;font-size:14px;border-bottom:1px solid #f9f4e5;}
    .cjd_maptip dd{padding-left:15px;color:#919089;}
    .cjd_maptip dd:hover{border-bottom-color:#e47773;cursor:pointer;}
    .cjd_maptip .i1{background-position:2px -112px}
    .cjd_maptip .i2{background-position:2px -139px}
    .cjd_maptip .i3{background-position:2px -166px}

    /* 提示自定义 */
    .stateTip, #StateTip{display:none; position:absolute; padding:8px; background:#fff; border:2px solid #2385B1; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; font-size:12px; font-family:Tahoma; color:#333;}
    .mapInfo i{ display:inline-block; width:15px; height:15px; margin-top:5px; line-height:15px; background:#aeaeae; color:#fff; font-size:11px; font-family: Tahoma; -webkit-border-radius:15px; border-radius:15px; text-align:center}
    .mapInfo i.active{background:#E27F21;}
    .mapInfo span{ padding:0 5px 0 3px;}
    .mapInfo b{ font-weight:normal; color:#2770B5}

/* 星座 */
    .cjd_xz_boy,
    .cjd_xz_girl{
        float: left;width:471px;padding-left:30px;
    }
    .cjd_xz_list{position:relative;}
    .cjd_xz .tit,
    .cjd_xz_list li s,
    .cjd_xz_list .top b{
        background-image:url(../img/icon_xingzuo.png);background-repeat: no-repeat;
    }
    .cjd_xz_boy .tit,
    .cjd_xz_boy .cjd_xz_tip strong{
        color:#1b6095;
    }
    .cjd_xz_girl .tit,
    .cjd_xz_girl .cjd_xz_tip strong{
        color:#951b60;
    }
    .cjd_xz .tit{height:28px;overflow:hidden;padding-left:30px;font-size: 14px;margin-top: 25px}
    .cjd_xz .tit em{font-size:18px;line-height:30px}
    .cjd_xz_boy .tit{background-position:-336px 0;}
    .cjd_xz_girl .tit{background-position:-336px -28px;}
    .cjd_xz_list li{
        width: 6px;float:left;height:280px;background-color:#ded6c3;font-size:0px;
        margin-left:15px;margin-right:15px;_overflow:hidden;
    }
    .cjd_xz_list li em{
        display:block;width:28px;height:28px;color:#beb18f;font-size:14px;line-height:28px;
        background-color:#f0e3c2;border-radius: 14px;position:absolute;bottom:0;margin-left:-11px;
    }
    .cjd_xz_list li b{
        display:block;width:19px;height:16px;position:relative;left:-7px;
        background-color:#F9F4E5;
    }
    .cjd_xz_boy .top b{background-position:-4px -56px;}
    .cjd_xz_girl .top b{background-position:-33px -56px;}
    .cjd_xz_list li s{
        display:block;width:28px;height:28px;border-radius:14px;position:relative;left:-11px;
    }
    .cjd_xz_boy .hover,
    .cjd_xz_boy .hover em,
    .cjd_xz_boy li:hover,
    .cjd_xz_boy li:hover em,
    .cjd_xz_boy .top,
    .cjd_xz_boy .top em{
        cursor:pointer;background-color:#1b6095
    }
    .cjd_xz_girl .hover,
    .cjd_xz_girl .hover em,
    .cjd_xz_girl li:hover,
    .cjd_xz_girl li:hover em,
    .cjd_xz_girl .top,
    .cjd_xz_girl .top em{
        cursor:pointer;background-color:#951b60;
    }
    .cjd_xz_list .top em,
    .cjd_xz_list .hover em,
    .cjd_xz_list li:hover em{
        color:#ffffff;
    }
    .cjd_xz_boy .i1 s{background-position:0 0}
    .cjd_xz_boy .i2 s{background-position:-28px 0}
    .cjd_xz_boy .i3 s{background-position:-56px 0}
    .cjd_xz_boy .i4 s{background-position:-84px 0}
    .cjd_xz_boy .i5 s{background-position:-112px 0}
    .cjd_xz_boy .i6 s{background-position:-140px 0}
    .cjd_xz_boy .i7 s{background-position:-168px 0}
    .cjd_xz_boy .i8 s{background-position:-196px 0}
    .cjd_xz_boy .i9 s{background-position:-224px 0}
    .cjd_xz_boy .i10 s{background-position:-252 0}
    .cjd_xz_boy .i11 s{background-position:-280px 0}
    .cjd_xz_boy .i12 s{background-position:-308px 0}
    .cjd_xz_girl .i1 s{background-position:0 -28px}
    .cjd_xz_girl .i2 s{background-position:-28px -28px}
    .cjd_xz_girl .i3 s{background-position:-56px -28px}
    .cjd_xz_girl .i4 s{background-position:-84px -28px}
    .cjd_xz_girl .i5 s{background-position:-112px -28px}
    .cjd_xz_girl .i6 s{background-position:-140px -28px}
    .cjd_xz_girl .i7 s{background-position:-168px -28px}
    .cjd_xz_girl .i8 s{background-position:-196px -28px}
    .cjd_xz_girl .i9 s{background-position:-224px -28px}
    .cjd_xz_girl .i10 s{background-position:-252px -28px}
    .cjd_xz_girl .i11 s{background-position:-280px -28px}
    .cjd_xz_girl .i12 s{background-position:-308px -28px}

    .cjd_xz_tip{padding:25px 0 35px}
    .cjd_xz_tip em{ color:#DD4A4A}
    .cjd_xz_tip strong{font-weight:normal;font-size:18px;}

/* 互联网 */
    .cjd_hlw{padding-bottom:25px;}
    .cjd_hlw_box{width:950px;height:274px;margin:0 auto;background:url(../img/bg_hlw.png);margin-top:22px;color:#7e7d7a;overflow:hidden;}
    .cjd_hlw_m1,.cjd_hlw_m2,.cjd_hlw_m3,.cjd_hlw_m4,.cjd_hlw_m5{float:left;}
    .cjd_hlw_m2,.cjd_hlw_m3,.cjd_hlw_m4,.cjd_hlw_m5{font-size:20px;font-weight:bolder;}
    .cjd_hlw_m2 em,.cjd_hlw_m3 em,.cjd_hlw_m5 em{font-size:28px}
    .cjd_hlw_box em{color:#dd4a4a;font-weight:bolder;}
    .cjd_hlw_m1{width:323px;height:114px;padding-top:160px;color:#ecc775;text-align:center;font-size: 16px}
    .cjd_hlw_m1 em{font-size:32px;}
    .cjd_hlw_m2{width:236px;height:88px;padding-top:60px;text-align:center;}
    .cjd_hlw_m3{width:358px;height:118px;padding:30px 0 0 32px;line-height:45px;}
    .cjd_hlw_m4{width:190px;height:125px;}
    .cjd_hlw_m5{width:435px;height:84px;padding-top:41px;text-align:center;}

/**/
.cjd_ft,.cjd_ft a{color:#bfbcb3;}
.cjd_ft {text-align: center;padding:18px 0;}
.cjd_ft a{margin:0 6px;}


